.portfolio {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(1fr,auto);
  align-items: center;
}
.portfolio h2 {
  margin: 0;
}
.cardDeck {
  display: grid;
  grid-gap: 6px;
}
.card {
  background: white;
  border: 1px solid black;
  margin:0.5em;
  padding:0.5em;
}
.card h3 {
  margin:5px 0;
}
.cardImage {
  width: 50%;
}
.cardContent {

}

@media (min-width: 576px) { 
  .cardDeck {
    display: grid;
    background: blue;
  }
 }

@media (min-width: 768px) { 
  .cardDeck {
    display: grid;
    background: red;
    grid-template-columns: repeat(2, auto);
  }
 }

@media (min-width: 992px) { 
  .cardDeck {
    display: grid;
    background: yellow;
    grid-template-columns: repeat(3, auto);
  }
 }

@media (min-width: 1200px) { 
  .cardDeck {
    display: grid;
    background: green;
  }
 }