.about {
  display:grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  align-items: center;
  max-width: 960px;
  margin: auto;
}
.aboutTitle {
  padding-top: 0.3em;
  margin-bottom: 0;
  align-self: end;
}
.image{
  max-width: 150px;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  border: 5px solid crimson;
  border-radius: 100%;
}
.aboutContent {
  grid-row: 2 / 4;
  grid-column: 1 / 4;
}